body {
 color: #C5C8C6;
 background-color: #2B2B2B
}
*:focus {
    outline: none;
}
.columna {
  display: inline-block;
  width:300px;
  height:300px;
  float:left;
}
.subtitulo {
  font-family:LightNovel;
  font-size:50px;
  margin:0px;
}
.vinculos {
  font-family:Roboto;
  font-size:30px;
  margin-top:20px;
  line-height: 1.5
}
a:link {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color:#aeb2b0;
}
@font-face {
  font-family: "LightNovel";
  src: url(fonts/lightnovel.otf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Futura";
  src: url(fonts/futura_medium_bt.ttf);
}
