/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,600i');*/

@font-face {
    font-family: 'Timeless';
    src: local(Timeless), url('fonts/Timeless.ttf') format('opentype');
}
@font-face {
    font-family: 'Othutome';
    src: local(Othutome), url('fonts/Othutome.ttf') format('opentype');
}
	body { 
		background-color: rgb(235, 235, 235);
	}
	
	#Title {
		font-family: 'Othutome', sans-serif;
		text-align: center;
		color: rgb(24, 24, 24);
		font-size: 90pt;
	}
	
	#searchbox{

		width: 100%;
		border: none;
		outline: none;
		text-align: center;
		background-color: rgba(255, 255, 255, 0);
		color: #000;
		font-size: 17pt;
		font-family: 'Timeless', sans-serif;
		display: block;
		margin: auto;
		margin-top: 50px;
		caret-color: transparent;
	}
	
    #stripe {
        width:100%;
		vertical-align:middle;
		margin-top: 18%;
    }

	#mainframe {
		text-align: center;
		position: absolute;
		bottom: 0%;
		padding-bottom: 15px;
		left:12%;
		right:12%;
	}
	
	#footer {
		position: absolute;
		bottom : 0;
		right: 0;
		text-align: right;
		padding: 10px;
		font-size:30%;
	}
	
	#linkblock {
		font-family: 'Timeless', sans-serif;
		width:120px;
		height: 230px;
		/*background-color: crimson; /*DEBUG*/
		margin-left:10px;
		margin-right:10px;
		margin-top:00px;
		margin-bottom:00px;
		padding-left:0px;
		padding-right:0px;
		padding-top:0px;
		padding-bottom:0px;
		color:#000;
		text-align: center;
		background-position:top 0px center ; 
		background-repeat:no-repeat;
		font-size:13pt;
		display: inline-block;
		vertical-align: top;
	}
	#blocktitle {
		border-color: #000;
		border-style: solid;
		border-width: 1px;
	}
	
	ul { 
		list-style-type: none;
		padding-left: 0;
	}
	li {
		margin-bottom: -1px;
	}

	
	a:link { text-decoration:none; font-weight:normal; color:rgb(36, 36, 36); }
	a:visited { text-decoration:none; font-weight:normal; color:rgb(36, 36, 36); }
	a:hover { text-decoration:none; font-weight:normal; color:rgb(87, 87, 87); }
	a:active { text-decoration:none; font-weight:normal; color:rgb(36, 36, 36); }
	a:focus { text-decoration:none; font-weight:normal; color:rgb(36, 36, 36); }
	
	#footer a:link { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:visited { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:hover { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:active { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:focus { text-decoration:none; font-weight:normal; color:#101010; }