@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@font-face {
    font-family: 'Kroftsmann';
    src: local(Kroftsmann), url('fonts/Kroftsmann.ttf') format('opentype');
}
	:root {
		--main-text:rgb(240, 233, 233);
		--alt-text:rgb(182, 174, 174);
	}
	
	body { 
		background-image: url("background.jpg");
	}
	
	#Title {
		font-family: 'Kroftsmann', sans-serif;
		text-align: center;
		color: var(--main-text);
		font-size: 90pt;
	}
	
	#searchbox{

		width: 50%;
		height: 6%;
		border: none;
		border-radius: 3px;
		outline: none;
		text-align: center;
		background-color: rgb(102, 32, 37);
		color: var(--main-text);
		font-size: 14pt;
		font-family: 'Open Sans Italic', sans-serif;
		font-style: italic;
		display: block;
		margin: auto;
		margin-top: 50px;
		caret-color: transparent;
	}
	
    #stripe {
        width:100%;
		vertical-align:middle;
		margin-top: 18%;
    }

	#mainframe {
		text-align: center;
		position: absolute;
		bottom: 0%;
		padding-bottom: 15px;
		left:12%;
		right:12%;
	}
	
	#footer {
		position: absolute;
		bottom : 0;
		right: 0;
		text-align: right;
		padding: 10px;
		font-size:30%;
	}
	
	#linkblock {
		font-family: 'Open Sans', sans-serif;
		width:120px;
		height: 230px;
		/*background-color: crimson; /*DEBUG*/
		margin-left:10px;
		margin-right:10px;
		margin-top:00px;
		margin-bottom:00px;
		padding-left:0px;
		padding-right:0px;
		padding-top:0px;
		padding-bottom:0px;
		color:var(--main-text);
		text-align: center;
		background-position:top 0px center ; 
		background-repeat:no-repeat;
		font-size:12pt;
		display: inline-block;
		vertical-align: top;
	}
	#blocktitle {
		border-color: var(--main-text);
		border-style: solid;
		border-width: 1px;
		border-radius: 0px;
		padding-top: 3px;
		padding-bottom: 4px;
		margin-bottom: 5px;
	}
	
	ul { 
		list-style-type: none;
		padding-left: 0;
	}
	li {
		margin-bottom: 0px;
	}

	
	a:link { text-decoration:none; font-weight:normal; color:var(--main-text); }
	a:visited { text-decoration:none; font-weight:normal; color:var(--main-text); }
	a:hover { text-decoration:none; font-weight:normal; color:var(--alt-text); }
	a:active { text-decoration:none; font-weight:normal; color:var(--main-text); }
	a:focus { text-decoration:none; font-weight:normal; color:var(--main-text); }
	